<!--演示demo, 用于调试vditor-->
<head>
    <meta charset="UTF-8">
	    <link rel="stylesheet" href="vditor/dist/index.css"/>
	    <script src="vditor/dist/index.min.js"></script>
	    <script src="vditor/dist/jquery-3.6.0.min.js"></script>
<!--    <link rel="stylesheet" href="http://localhost:63343/leetcode-project/vditor/dist/index.css"/>-->
<!--    <script src="http://localhost:63343/leetcode-project/vditor/dist/index.min.js"></script>-->
<!--    <script src="http://localhost:63343/leetcode-project/vditor/dist/jquery-3.6.0.min.js"></script>-->
</head>

<body className="body" style="margin: 0px;">
<div id="vditor" className="vditor vditor--fullscreen" style="height: 100%"></div>
<textarea id="content" style="display:none;">

<div class="text-body flex flex-none items-center gap-1 py-1.5 text-text-secondary dark:text-text-secondary">已解答<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1em" height="1em" fill="currentColor" class="fill-none stroke-current text-message-success dark:text-message-success"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="M12.598 7a5.6 5.6 0 11-3.15-5.037m2.1 1.537l-4.9 4.9-1.4-1.4"></path></svg></div>

<h1 id="title">88.合并两个有序数组</h1>
<span style='color: green;'>洒洒水啦【简单题】</span>
<a rel="stylesheet" href="https://leetcode.cn/problems/merge-sorted-array/description[open_on_web]">在浏览器上访问</a><p>
<p>给你两个按 <strong>非递减顺序</strong> 排列的整数数组&nbsp;<code>nums1</code><em> </em>和 <code>nums2</code>，另有两个整数 <code>m</code> 和 <code>n</code> ，分别表示 <code>nums1</code> 和 <code>nums2</code> 中的元素数目。</p><p>请你 <strong>合并</strong> <code>nums2</code><em> </em>到 <code>nums1</code> 中，使合并后的数组同样按 <strong>非递减顺序</strong> 排列。</p><p><strong>注意：</strong>最终，合并后数组不应由函数返回，而是存储在数组 <code>nums1</code> 中。为了应对这种情况，<code>nums1</code> 的初始长度为 <code>m + n</code>，其中前 <code>m</code> 个元素表示应合并的元素，后 <code>n</code> 个元素为 <code>0</code> ，应忽略。<code>nums2</code> 的长度为 <code>n</code> 。</p><p>&nbsp;</p><p><strong>示例 1：</strong></p><pre>
<strong>输入：</strong>nums1 = [1,2,3,0,0,0], m = 3, nums2 = [2,5,6], n = 3
<strong>输出：</strong>[1,2,2,3,5,6]
<strong>解释：</strong>需要合并 [1,2,3] 和 [2,5,6] 。
合并结果是 [<em><strong>1</strong></em>,<em><strong>2</strong></em>,2,<em><strong>3</strong></em>,5,6] ，其中斜体加粗标注的为 nums1 中的元素。
</pre><p><strong>示例 2：</strong></p><pre>
<strong>输入：</strong>nums1 = [1], m = 1, nums2 = [], n = 0
<strong>输出：</strong>[1]
<strong>解释：</strong>需要合并 [1] 和 [] 。
合并结果是 [1] 。
</pre><p><strong>示例 3：</strong></p><pre>
<strong>输入：</strong>nums1 = [0], m = 0, nums2 = [1], n = 1
<strong>输出：</strong>[1]
<strong>解释：</strong>需要合并的数组是 [] 和 [1] 。
合并结果是 [1] 。
注意，因为 m = 0 ，所以 nums1 中没有元素。nums1 中仅存的 0 仅仅是为了确保合并结果可以顺利存放到 nums1 中。
	<a rel="stylesheet" href="https://leetcode.cn/problems/merge-sorted-array/description[open_on_web]">在浏览器上访问</a>
</pre><p>&nbsp;</p><p><strong>提示：</strong></p><ul>
	<li><code>nums1.length == m + n</code></li>
	<li><code>nums2.length == n</code></li>
	<li><code>0 &lt;= m, n &lt;= 200</code></li>
	<li><code>1 &lt;= m + n &lt;= 200</code></li>
	<li><code>-10<sup>9</sup> &lt;= nums1[i], nums2[j] &lt;= 10<sup>9</sup></code></li>
</ul><p>&nbsp;</p><p><strong>进阶：</strong>你可以设计实现一个时间复杂度为 <code>O(m + n)</code> 的算法解决此问题吗？</p>

</textarea>
</body>

</html>
<script>
    window.onload = function () {
        $(".vditor-toolbar")[0].remove();
        $(".vditor-sv")[0].remove();
        $(".vditor-preview").find(".vditor-reset").css("max-width", "90%")
    }
    const vditor = new Vditor('vditor', {
        mode: "sv",
        lang: "zh_CN",
        theme: "light",
        toolbarConfig: {hide: true},
        cache: {
            enable: false
        },
        preview: {
            theme: {
                current: "idea-light",
            },
            maxWidth: $(window).width() - 100,
            actions: [], // close extra toolbar
            hljs: { style: "dark" },
            math: {
                inlineDigit: true
            }
        },
        value: document.getElementById("content").innerText
    })

</script>
<!--<style id="ideaStyle">.vditor&#45;&#45;dark{&#45;&#45;panel-background-color:rgba(43,43,43,1.00);&#45;&#45;textarea-background-color:rgba(43,43,43,1.00);&#45;&#45;toolbar-background-color:rgba(60,63,65,1.00);}::-webkit-scrollbar-track {background-color:rgba(43,43,43,1.00);}::-webkit-scrollbar-thumb {background-color:rgba(166,166,166,0.28);}.vditor-reset {font-size:16px;font-family:"JetBrains Mono","Helvetica Neue","Luxi Sans","DejaVu Sans","Hiragino Sans GB","Microsoft Yahei",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Noto Color Emoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";color:rgba(169,183,198,1.00);} body{background-color: rgba(43,43,43,1.00);}.vditor-reset a {color: rgba(30, 136, 234);}</style>-->
