<style>
    {{problem-info}}
    {{problem-info-p}}

    .status {
        background-color: #e3f2fd;
        color: #1976d2;
        font-weight: bold;
    }

    .problem-easy {
        background-color: #e8f5e9;
        color: #2e7d32;
        font-size: 1.1em;
        font-weight: bold;
    }

    .problem-medium {
        background-color: #fff3e0;
        color: #f0b623;
        font-size: 1.1em;
        font-weight: bold;
    }

    .problem-hard {
        background-color: #fff3e0;
        color: #f70606;
        font-size: 1.1em;
        font-weight: bold;
    }

    .user-easy {
        background-color: #e8f5e9;
        color: #2e7d32;
    }

    .user-medium {
        background-color: #fff3e0;
        color: #f57c00;
    }

    .user-hard {
        background-color: #f3e5f5;
        color: #ff0000;
    }

    .last-review {
        background-color: #f3e5f5;
        color: #f237d9;
    }

    .next-review {
        background-color: #e8eaf6;
        color: #3f51b5;
    }
</style>
<div class="problem-info">
    <p class="status">未开始</p>
    <p class="{{problem-title}}">[8] 两数之和</p>
    <p class="{{user-rate}}">有点难</p>
    <p class="last-review">上次做题时间: 2025/03/17</p>
    <p class="next-review">下次复习时间: 2025/03/18</p>
</div>