<style>
    .card {
        width: 230px;
        padding: 12px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #2b2b2b;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        border: 2px solid #555;
    }

    .card p {
        margin: 10px 0;
    }

    .status {
        color: rgb(97, 175, 239);
        font-weight: bold;
    }

    .title {
        font-weight: bold;
        color: rgb(220, 220, 220);
    }

    .title-easy {
        font-weight: bold;
        color: rgb(92, 184, 92);
    }

    .title-medium {
        font-weight: bold;
        color: rgb(240, 173, 78);
    }

    .title-hard {
        font-weight: bold;
        color: rgb(217, 83, 79);
    }

    .difficulty {
        color: rgb(255, 165, 2);
    }

    .difficulty-easy {
        font-weight: bold;
        color: rgb(92, 184, 92);
    }

    .difficulty-medium {
        font-weight: bold;
        color: rgb(240, 173, 78);
    }

    .difficulty-hard {
        font-weight: bold;
        color: rgb(217, 83, 79);
    }

    .date {
        font-weight: bold;
        color: rgb(232, 228, 228);
    }

</style>
<div class="card">
    <p class="status">{{status-content}}</p>
    <p class="{{title-css}}">{{title-content}}</p>
    <p class="{{difficulty-css}}">{{difficulty-content}}</p>
    <p class="date">{{lastModify-content}}</p>
    <p class="date">{{nextReview-content}}</p>
</div>